<div ng-controller="NavbarCtrl">
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>{{ getTitle() }}</h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="All books" ng-show="isLoggedIn" ng-click="go('/')">
      <md-icon>book</md-icon>
      <md-tooltip>All books</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="My books" ng-click="go('/mybooks')" ng-show="isLoggedIn">
      <md-icon>library_books</md-icon>
      <md-tooltip>My books</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Trade requests" ng-click="go('/trades')" ng-show="isLoggedIn">
      <md-icon>swap_horiz</md-icon>
      <md-tooltip>Trade requests</md-tooltip>
    </md-button>
  </div>
</md-toolbar>
</div>
